<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>registration form</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<form method="POST" th:action="@{/auth/changePassword}" th:object="${OldPass}">
  <h1>Change here:</h1>


  <label for="oldPassword">Password which was: </label>
  <input type="password" th:field="*{oldPassword}" id="oldPassword" placeholder="current password"/>

  <br/>

  <label for="newPassword">Password will be new: </label>
  <input type="password" th:field="*{newPassword}" id="newPassword" placeholder="new password"/>

  <br/>

  <label for="confirmNewPassword">Confirm you new password: </label>
  <input type="password" th:field="*{confirmNewPassword}" id="confirmNewPassword" placeholder="confirm new password"/>
  <br/>

  <input type="submit" value="change the password"/>
</form>